body{
  overflow: hidden;
  background-color: #674BB2;
}
.image {
  position: absolute;
  z-index: -1;
  width: 100%;
}
.m-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  opacity: 0.5;
  display: none;
}

@media (max-width: 768px) {
  body,html{
    width: 100dvw;
    height: 100dvh;
    overflow-x: hidden;
    overflow-y: auto;
  }
}